


body{
   margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(29, 28, 28);  
  background-size: cover;

}
.signup-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
.signup-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid darkorchid;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid white;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;

}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: darkorchid;
  border: 2px solid darkorchid;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.btn:hover{
  background-color: #fff;
  cursor: pointer;
  color: #000000;
  transition: 0.3s;
}

::placeholder{
  color: #d9d9d9;
}



  /* Breadcrumbs */
  /* Style the list */
ul.breadcrumb {

  padding: 10px 16px;
  list-style: none;
  background-color: gray;
  opacity: 0.4;
}



/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  color: white;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";

}/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: white;
  opacity: none;
  text-decoration: none;
  
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


